# Ignore a pasta node_modules
node_modules

# Ignore todos os arquivos de texto
*.txt

# Ignore arquivos relacionados às chaves de API
.env

# Ignore arquivos de configuração de SASS
.sass-cache

appHARDL-env

__pycache__

.spyproject/

RESULTADO DOS MODELO/
data100Hz.csv
modelCNN100.py
modelCNNWISDM.py

model.h5
model.json

